Repository hanipcode/turbo-express-next-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --check, eslint --max-warnings 0 --fix

.lintstagedrc.json:

{
  "*.{js,json,yml}": ["prettier --write --check"],
  "*.{ts,tsx}": ["prettier --write --check", "eslint --max-warnings 0 --fix"]
}

chore: remove sem-release
  .github/workflows/semantic-release.yml
  .prettierrc
  .releaserc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write --check

chore(release): 0.1.0
  CHANGELOG.md
Due: none

chore: prettier
  .lintstagedrc.json
  CHANGELOG.md
Due: prettier --write --check

merge to main (#8)
  .lintstagedrc.json
  .prettierrc
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: prettier --write --check

chore: delete release action
  .github/workflows/semantic-release.yml
Due: prettier --write --check

feat: base backend
  .gitignore
  apps/api/package.json
  apps/api/src/constants/apiEnvs.ts
  apps/api/src/constants/appConstants.ts
  apps/api/src/constants/httpCodes.ts
  apps/api/src/core/app.ts
  apps/api/src/core/logger.ts
  apps/api/src/core/morganMiddleware.ts
  apps/api/src/index.ts
  apps/api/src/index.tsx
  apps/api/src/modules/index.ts
  apps/api/src/modules/user/model.ts
  apps/api/src/modules/user/repositories/index.ts
  apps/api/src/modules/user/routes.ts
  apps/api/src/modules/user/service/index.ts
  apps/api/src/modules/user/service/login.ts
  apps/api/src/utils/configureDotEnv.ts
  apps/api/src/utils/createErrorLog.ts
  apps/api/src/utils/createErrorResponse.ts
  package.json
  packages/eslint-config/api.js
  packages/eslint-config/library.js
  packages/eslint-config/next.js
  packages/typescript-config/api.json
  packages/typescript-config/base.json
  packages/typescript-config/nextjs.json
  packages/typescript-config/react-library.json
  packages/validator/.eslintrc.js
  packages/validator/index.ts
  packages/validator/package.json
  packages/validator/src/constants/errorCode.ts
  packages/validator/src/user/index.ts
  packages/validator/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write --check, eslint --max-warnings 0 --fix

fix: missing eslint import
  packages/eslint-config/next.js
Due: prettier --write --check

chore: misssing turbo env
  turbo.json
Due: prettier --write --check

feat: finish backend code for auth/login
  apps/api/package.json
  apps/api/src/constants/apiEnvs.ts
  apps/api/src/constants/httpCodes.ts
  apps/api/src/constants/message.ts
  apps/api/src/core/app.ts
  apps/api/src/core/db.ts
  apps/api/src/core/logger.ts
  apps/api/src/core/morganMiddleware.ts
  apps/api/src/modules/index.ts
  apps/api/src/modules/user/model.ts
  apps/api/src/modules/user/repositories/index.ts
  apps/api/src/modules/user/routes.ts
  apps/api/src/modules/user/routes/login.ts
  apps/api/src/modules/user/service/index.ts
  apps/api/src/modules/user/service/login.ts
  apps/api/src/utils/configureDotEnv.ts
  apps/api/src/utils/createErrorLog.ts
  apps/api/src/utils/createErrorResponse.ts
  apps/api/src/utils/createSuccesResponse.ts
  apps/api/src/utils/createSuccessLog.ts
  apps/api/src/utils/serializeError.ts
  apps/web/app/global.css
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/components/Login/index.tsx
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/tailwind.config.js
  packages/eslint-config/api.js
  packages/eslint-config/next.js
  packages/typescript-config/api.json
  packages/validator/package.json
  packages/validator/src/constants/errorCode.ts
  packages/validator/src/user/index.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write --check, eslint --max-warnings 0 --fix

chore: add open api
  apps/api-docs/.redocly.yaml
  apps/api-docs/LICENSE
  apps/api-docs/README.md
  apps/api-docs/docs/favicon.png
  apps/api-docs/docs/index.html
  apps/api-docs/openapi/README.md
  apps/api-docs/openapi/components/README.md
  apps/api-docs/openapi/components/headers/ExpiresAfter.yaml
  apps/api-docs/openapi/components/schemas/Email.yaml
  apps/api-docs/openapi/components/schemas/User.yaml
  apps/api-docs/openapi/components/securitySchemes/api_key.yaml
  apps/api-docs/openapi/components/securitySchemes/basic_auth.yaml
  apps/api-docs/openapi/components/securitySchemes/main_auth.yaml
  apps/api-docs/openapi/openapi.yaml
  apps/api-docs/openapi/paths/README.md
  apps/api-docs/openapi/paths/echo.yaml
  apps/api-docs/openapi/paths/users@{username}.yaml
  apps/api-docs/package.json
Due: prettier --write --check

chore: add open api
  apps/web/app/favicon.ico
Due: none

chore: add mongo url to global env
  turbo.json
Due: prettier --write --check

chore: delte .vscode
  .vscode/settings.json
Due: prettier --write --check

chore: add code editor gitignore
  .gitignore
Due: none

chore: wrong branch
  .github/workflows/deploy-web-dev.yml
Due: prettier --write --check

chore: pnpm lock file outdated
  pnpm-lock.yaml
Due: none

feat: standalone build
  apps/web/helpers/auth.ts
  apps/web/next.config.js
Due: prettier --write --check, eslint --max-warnings 0 --fix

feat: standalone build (#15)
  apps/web/helpers/auth.ts
  apps/web/next.config.js
Due: prettier --write --check, eslint --max-warnings 0 --fix

chore: dont forward container when run
  .github/workflows/deploy-api-dev.yml
  .github/workflows/deploy-web-dev.yml
Due: prettier --write --check

chore: dont forward container when run (#16)
  .github/workflows/deploy-api-dev.yml
  .github/workflows/deploy-web-dev.yml
Due: prettier --write --check

chore: api docs deploy
  apps/api-docs/package.json
  config/docker-compose.yml
  pnpm-lock.yaml
Due: prettier --write --check

chore: api docs deploy (#17)
  apps/api-docs/package.json
  config/docker-compose.yml
  pnpm-lock.yaml
Due: prettier --write --check

chore: api docs deploy
  .github/workflows/deploy-api-docs.yml
  apps/api-docs/config/Dockerfile
Due: prettier --write --check

chore: api docs deploy (#18)
  .github/workflows/deploy-api-docs.yml
  apps/api-docs/config/Dockerfile
Due: prettier --write --check

chore: wrong dir for dev
  apps/api-docs/config/Dockerfile
  apps/api/config/Dockerfile
Due: none

chore: wrong dir for dev (#19)
  apps/api-docs/config/Dockerfile
  apps/api/config/Dockerfile
Due: none

chore: use nginx
  apps/api-docs/config/Dockerfile
Due: none

chore: use nginx (#20)
  apps/api-docs/config/Dockerfile
Due: none

chore: build validator
  packages/validator/index.ts
  packages/validator/package.json
  packages/validator/src/index.ts
  packages/validator/tsconfig.json
Due: prettier --write --check, eslint --max-warnings 0 --fix

chore: build validator
  apps/api-docs/config/Dockerfile
Due: none

chore: update lint
  .github/workflows/lint.yml
Due: prettier --write --check

chore: build validator (#21)
  .github/workflows/lint.yml
  apps/api-docs/config/Dockerfile
  packages/validator/index.ts
  packages/validator/package.json
  packages/validator/src/index.ts
  packages/validator/tsconfig.json
Due: prettier --write --check, eslint --max-warnings 0 --fix

chore: faster lint
  .github/workflows/lint.yml
Due: prettier --write --check

chore: add volumes
  .github/workflows/deploy-api-dev.yml
Due: prettier --write --check

chore: faster lint (#22)
  .github/workflows/deploy-api-dev.yml
  .github/workflows/lint.yml
Due: prettier --write --check

chore: change log dir name
  apps/api/src/core/logger.ts
Due: prettier --write --check, eslint --max-warnings 0 --fix
