Repository hanipcode/turbo-express-next-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --check, eslint --max-warnings 0 --fix

.lintstagedrc.json:

{
  "*.{js,json,yml,md}": ["prettier --write --check"],
  "*.{ts,tsx}": ["prettier --write --check", "eslint --max-warnings 0 --fix"]
}

chore: reverse dir
  .github/workflows/deploy-api-dev.yml
Due: prettier --write --check

chore: reverse dir (#24)
  .github/workflows/deploy-api-dev.yml
Due: prettier --write --check

fix: add credentials
  apps/api/src/core/app.ts
Due: prettier --write --check, eslint --max-warnings 0 --fix

chore: reverse dir (#25)
  apps/api/src/core/app.ts
Due: prettier --write --check, eslint --max-warnings 0 --fix

chore: permission for docker volume
  apps/api/config/Dockerfile
Due: none

chore: logger doesn't need fs
  apps/api/src/core/logger.ts
Due: prettier --write --check, eslint --max-warnings 0 --fix

chore: permission for docker volume (#26)
  apps/api/config/Dockerfile
  apps/api/src/core/logger.ts
Due: prettier --write --check, eslint --max-warnings 0 --fix
